<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group ">
    <li class="list-group-item active">最新电影</li>
    <% @movies_newest.each do |movie_new| %>
        <li class="list-group-item"><a href="/movies/<%=movie_new.id %>"><%= movie_new.created_at.strftime('%Y-%m-%d')%>*<%= movie_new.name%></a></li>
    <% end %>
  </div>
</div>

