<div id="toolbar">
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addMovie()">添加</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMovie()">编辑</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyMovie()">删除</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="movieDetails()">详情</a>
</div>
<table class="easyui-datagrid" id="movie-list" rownumbers="true" pagination="true"
       data-options="url:'/movies/list',method:'get',border:false,singleSelect:true,fitColumns:true">
  <thead>
  <tr>
    <th data-options="field:'id',align:'center'" width="100">电影ID</th>
    <th data-options="field:'name',align:'center'" width="100">名称</th>
    <th data-options="field:'movie_tag',align:'center'" width="100">电影类别</th>
    <th data-options="field:'number',align:'center'" width="100">集数</th>
    <th data-options="field:'region',align:'center'" width="100">地区</th>
    <th data-options="field:'grade',align:'center'" width="100">评分</th>
    <th data-options="field:'actors',align:'center'" width="100">演员</th>
    <th data-options="field:'abstract',align:'center'" width="100">简介</th>
    <th data-options="field:'image_url',align:'center'" width="100">图片地址</th>
    <th data-options="field:'show_time',align:'center'" width="100">上映时间</th>
    <th data-options="field:'sort',align:'center'" width="100">排行</th>
    <th data-options="field:'upload_time',align:'center'" width="100">上传时间</th>
  </tr>
  </thead>
</table>

<!--添加电影-->
<div id="add_movie_dialog" class="easyui-dialog" title="添加" closed="true" data-options="iconCls:'icon-save',autoOpen:false" style="width:40%;height:600px;padding:10px 50px">
  <form id="save_movie" method="post" name="movie">
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="name" style="width:50%" data-options="label:'名称:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="sort" style="width:50%" data-options="label:'排行:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="grade" style="width:50%" data-options="label:'评分:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="actors" style="width:50%;height:50px" data-options="label:'演员:', multiline:true">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="abstract" style="width:50%" data-options="label:'简介:',multiline:true">
    </div>

    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="image_url" style="width:50%" data-options="label:'图片地址:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-datetimebox" name="show_time" data-options="formatter:mydateformatter,parser:mydateparser" label="上映时间:" style="width:50%;">
    </div>
    <div style="margin-bottom:20px">
      <select class="easyui-combobox" name="region" label="地区" style="width:50%">
        <option value="大陆">大陆</option>
        <option value="香港">香港</option>
        <option value="台湾">台湾</option>
        <option value="日本">日本</option>
        <option value="韩国">韩国</option>
        <option value="欧美">欧美</option>
        <option value="其它">其它</option>
      </select>
    </div>
    <div style="margin-bottom:20px">
      <select class="easyui-combobox" name="movie_tag" label="电影类别" style="width:50%">

        <option value="同性">同性</option>
        <option value="纪录片">纪录片</option>
        <option value="丧尸">丧尸</option>
        <option value="传纪">传纪</option>
        <option value="歌舞">歌舞</option>
        <option value="穿越">穿越</option>
        <option value="武侠">武侠</option>
        <option value="魔幻">魔幻</option>
        <option value="短片">短片</option>
        <option value="动画">动画</option>
        <option value="儿童">儿童</option>
        <option value="喜剧">喜剧</option>
        <option value="灾难">灾难</option>
        <option value="音乐">音乐</option>
        <option value="军事">军事</option>
        <option value="西部">西部</option>
        <option value="剧情">剧情</option>
        <option value="伦理">伦理</option>
        <option value="历史">历史</option>
        <option value="励志">励志</option>
        <option value="古装">古装</option>
        <option value="运动">运动</option>
        <option value="犯罪">犯罪</option>
        <option value="家庭">家庭</option>
        <option value="奇幻">奇幻</option>
        <option value="恐怖">恐怖</option>
        <option value="微电影">微电影</option>
        <option value="悬疑">悬疑</option>
        <option value="动作">动作</option>
        <option value="古装">古装</option>

      </select>
    </div>


  </form>




  <div style="text-align:center;padding:5px 0">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveMovie()" style="width:80px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="" style="width:80px">Clear</a>
  </div>
</div>