<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">

    <li class="active"><a href="/admin">全部影视</a></li>
    <li><a href="/admin_movies?movie_type=电影">电影</a></li>
    <li><a href="/admin_movies?movie_type=电视剧">电视剧</a></li>
    <li><a href="/admin_movies?movie_type=动画片">动画片</a></li>
    <li><a href="/admin_movies?movie_type=综艺片">综艺片</a></li>
    <li><a href="/admin_movies?movie_type=IT技术">IT技术</a></li>
    <li><a href="/admin_news">扒新闻</a></li>
    <li><a href="/admin_movies?movie_type=其他">其他</a></li>
    <li ><a href="/admin_tags">标签管理</a></li>
    <li><a href="">关于火星</a></li>
  </ul>

</div>