<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">

    <li class="active"><a href="/admin">全部影视</a></li>
    <li><a href="">电影</a></li>
    <li><a href="">电视剧</a></li>
    <li><a href="">动画片</a></li>
    <li><a href="">综艺片</a></li>
    <li><a href="">IT技术</a></li>
    <li><a href="">其他</a></li>
    <li ><a href="#">标签管理</a></li>
    <li><a href="#">菜单管理</a></li>
    <li><a href="">关于火星</a></li>
  </ul>

</div>