<footer class="footer">
  <hr>
  <p><strong>友情链接:</strong></p>
  <a href="http://www.balawo.com/">扒拉我电影</a>
  <a href="http://www.balawo.com/movies/get_movies?type=IT%E6%8A%80%E6%9C%AF">扒拉我IT视频</a>
  <a href="https://movie.douban.com/">豆瓣电影</a>
  <a href="http://www.toutiao.com/">今日头条</a>
  <a href="http://www.mp4ba.com/">高清MAP4吧</a>
  <a href="http://www.qtfy30.cn/">且听风吟</a>
  <a href="http://www.dygod.net/">电影天堂</a>
  <a href="http://www.dytt.com/">电影淘淘</a>
  <a href="http://www.balawo.com/news">扒新闻</a>
  <p></p>
  <p><strong>免责声明:</strong></p>
  <p class="mianze">
    本站所有视频链接均从互联网收集而来，版权归原创者所有，如果侵犯了你的权益，请发邮件至：balawo@126.com，我们会及时删除侵权内容，谢谢合作！
  </p>
  <p></p>
</footer>
<style>
  .footer a {
      margin-left: 10px;
      color: #999999;
  }
   .mianze {
       color: #999999;
   }
</style>