<title><%= @layout_title%>扒拉我-迅雷电影-balawo-免费电影-IT技术视频-博客-扒新闻-最新新闻</title>
<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="description" content="扒拉我（balawo.com）最新海量免费电影下载，IT技术视频下载，IT技术博客，独特的新闻视角呈现世界。" />
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= csrf_meta_tags %>