<ul class="easyui-tree">
  <li>
    <span>我的生活</span>
    <ul>
      <li data-options="state:'closed'">
        <span>照片</span>
        <ul>
          <li>
            <span><a href="/tags/show" target="_parent">标签管理</a></span>
          </li>
          <li>
            <span>上海</span>
          </li>
          <li>
            <span>官洲</span>
          </li>
        </ul>
      </li>
      <li>
        <span>电影</span>
        <ul>
          <li>惊悚</li>
          <li>Java</li>
          <li>Microsoft Office</li>
          <li>Games</li>
        </ul>
      </li>
      <li>index.html</li>
      <li>about.html</li>
      <li>welcome.html</li>
    </ul>
  </li>
</ul>