<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group ">
    <li class="list-group-item active">最新新闻</li>
    <% @news_newest.each do |news| %>
        <li class="list-group-item">
          <a href="/movies/<%=news.id %>">
            <%= news.created_at.strftime('%Y-%m-%d')%>*<%= news.title%>
          </a>
        </li>
    <% end %>
  </div>
</div>

