
<div class="row" >

  <div class="col-sm-12 blog-main" style="width: 80%">
        <div class="blog-post">
          <h3 class="blog-post-title " style="text-align:center;"><%= @news.title%></h3>
          <p class="blog-post-meta" style="text-align:center;"><%= @news.created_at.strftime('%Y-%m-%d %H:%M')%> by <a href="#"><%= @news.author%></a></p>

          <%= @news.content.present? ? @news.content.html_safe : '暂无内容，欢迎时刻关注扒新闻！'%>
        </div>
        <!-- /.blog-post -->

  </div>
  <!-- /.blog-main -->


</div><!-- /.row -->



<script>
    $(".blog-post img").addClass("img-responsive center-block");
</script>