<%= render partial: 'book_menus/list' %>
  <div class="col-sm-12 col-sm-offset-4 col-md-12 col-md-offset-4">
    <%= markdown(@book_detail_content) %>
  </div>


<style>
    p {
        color: #333333;
        font-size: 16px;
        letter-spacing:1px;
        line-height: 1.6;
    }
    footer{
        padding-left: 25%;
        }
</style>

