<div id="toolbar">
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">添加</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="">编辑</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="">删除</a>
</div>
<table class="easyui-datagrid"
       data-options="url:'',method:'get',border:false,singleSelect:true,fit:true,fitColumns:true">
  <thead>
  <tr>
    <th data-options="field:'name',align:'center'" width="100">名称</th>
    <th data-options="field:'sort',align:'center'" width="100">排行</th>
    <th data-options="field:'movie_tag',align:'center'" width="100">电影类别</th>
    <th data-options="field:'level',align:'center'" width="100">是否多集</th>
    <th data-options="field:'region',align:'center'" width="100">地区</th>
    <th data-options="field:'grade',align:'center'" width="100">评分</th>
    <th data-options="field:'actors',align:'center'" width="100">演员</th>
    <th data-options="field:'abstract',align:'center'" width="100">简介</th>
    <th data-options="field:'year',align:'center'" width="100">年份</th>
    <th data-options="field:'image_url',align:'center'" width="100">图片地址</th>
    <th data-options="field:'show_time',align:'center'" width="100">上映时间</th>
    <th data-options="field:'upload_time',align:'center'" width="100">上传时间</th>
  </tr>
  </thead>
</table>
<!--添加电影-->
<div id="dlg" class="easyui-dialog" title="添加" closed="true" data-options="iconCls:'icon-save',autoOpen:false" style="width:40%;height:600px;padding:10px">
  <form id="ff" method="post">
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="name" style="width:50%" data-options="label:'名称:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="sort" style="width:50%" data-options="label:'排行:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="region" style="width:50%" data-options="label:'地区:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="level" style="width:50%" data-options="label:'是否多集:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="grade" style="width:50%" data-options="label:'评分:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="actors" style="width:50%;height:50px" data-options="label:'演员:', multiline:true">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="abstract" style="width:50%" data-options="label:'简介:',multiline:true">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-datetimebox" name="year"  label="年份:"  style="width:50%;">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="image_url" style="width:50%" data-options="label:'图片地址:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-datetimebox" name="show_time"  label="上映时间:"  style="width:50%;">
    </div>


    <div style="margin-bottom:20px">
      <select class="easyui-combobox" name="movie_tag" label="电影类别" style="width:50%">
        <option value="ar">Arabic</option><option value="bg">Bulgarian</option><option value="ca">Catalan</option>
        <option value="zh-cht">Chinese Traditional</option><option value="cs">Czech</option>
        <option value="da">Danish</option><option value="nl">Dutch</option><option value="en" selected="selected">English</option>
        <option value="et">Estonian</option><option value="fi">Finnish</option><option value="fr">French</option><option value="de">German</option>
        <option value="el">Greek</option><option value="ht">Haitian Creole</option><option value="he">Hebrew</option>
        <option value="hi">Hindi</option><option value="mww">Hmong Daw</option><option value="hu">Hungarian</option>
        <option value="id">Indonesian</option><option value="it">Italian</option><option value="ja">Japanese</option>
        <option value="ko">Korean</option><option value="lv">Latvian</option><option value="lt">Lithuanian</option>
        <option value="no">Norwegian</option><option value="fa">Persian</option><option value="pl">Polish</option>
        <option value="pt">Portuguese</option><option value="ro">Romanian</option><option value="ru">Russian</option>
        <option value="sk">Slovak</option><option value="sl">Slovenian</option><option value="es">Spanish</option>
        <option value="sv">Swedish</option><option value="th">Thai</option><option value="tr">Turkish</option><option value="uk">Ukrainian</option>
        <option value="vi">Vietnamese</option>
      </select>
    </div>



  </form>
</div>
