<!--添加书籍菜单modal-->
<div class="modal fade" id="add_book_menu_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">添加菜单</h4>
      </div>

      <form action="/admin_books/create_menu" method="post">
        <div class="modal-body">
          <input class="form-control" type="hidden" name="parent_id" id="add_book_menu_parent_id">
          <input class="form-control" type="hidden" name="book_id" id="add_book_menu_book_id">
          <label>标题名称</label>
          <input class="form-control" type="text" name="name" id="add_book_menu_name">
          <label>类型</label>
          <input class="form-control" type="text" name="book_type" id="add_book_menu_book_type">
          <label>地址</label>
          <input class="form-control" type="text" name="url" id="add_book_menu_url">
          <input class="form-control" type="hidden" name="code" id="add_book_menu_code">
          <label>是否禁用</label>
          <input class="form-control" type="text" name="is_disabled" value="0" id="add_book_menu_is_disabled">
          <label>标题描述</label>
          <input class="form-control" type="text" name="description" id="add_book_menu_description">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!--修改书籍菜单modal-->
<div class="modal fade" id="update_book_menu_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">修改菜单</h4>
      </div>

      <form action="/admin_books/update_menu" method="post">
        <div class="modal-body">
          <!--<input class="form-control" type="hidden" name="parent_id" id="update_book_menu_id">-->
          <input class="form-control" type="hidden" name="id" id="update_book_menu_id">
          <label>标题名称</label>
          <input class="form-control" type="text" name="name" id="update_book_menu_name">
          <label>类型</label>
          <input class="form-control" type="text" name="book_type" id="update_book_menu_book_type">
          <label>地址</label>
          <input class="form-control" type="text" name="url" id="update_book_menu_url">
          <input class="form-control" type="hidden" name="code" id="update_book_menu_code">
          <label>是否禁用</label>
          <input class="form-control" type="text" name="is_disabled" value="0" id="update_book_menu_is_disabled">
          <label>标题描述</label>
          <input class="form-control" type="text" name="description" id="update_book_menu_description">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>

    </div>
  </div>
</div>


<!--删除书籍菜单modal-->
<div class="modal fade" id="delete_book_menu_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">确定删除？</h4>
      </div>

      <form action="/admin_books/delete_menu" method="post">
        <div class="modal-body">
          <input class="form-control" type="hidden" name="id" id="delete_book_menu_id">
          <h3>删除标题菜单：<span id="book_menu_name_span"></span></h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>

    </div>
  </div>
</div>