.index_grade {
  color: red
}
.index_show_time {
  color: red
}

.index_created_at , .index_actors {
  color: #00438a;
}


@media(max-width:480px){
  .movie_show_a {
    display: inline;
  }
  .movie_show_img {
    width: 96%;
    margin:10px 2%;


  }

}