<div id="toolbar1">
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addMenu()">添加</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMenu()">编辑</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyMenu()">删除</a>
</div>
<table class="easyui-datagrid" id="menu-list" rownumbers="true" pagination="true"
       data-options="url:'/admin_menus/grid_list',method:'get',border:false,singleSelect:true,fitColumns:true">
  <thead>
  <tr>
    <th data-options="field:'name',align:'center'" width="100px">名称</th>
    <th data-options="field:'url',align:'center'" width="100px">地址</th>
    <th data-options="field:'code',align:'center'" width="100px">code</th>
    <th data-options="field:'description',align:'center'" width="100px">描述</th>
    <th data-options="field:'is_disabled',align:'center'" width="100px">是否禁用</th>
    <th data-options="field:'is_state',align:'center'" width="100px">是否展开</th>
    <th data-options="field:'parent_id',align:'center'" width="100px">父节点</th>

  </tr>
  </thead>
</table>




<!--添加菜单-->
<div id="add_menu_dialog" class="easyui-dialog" title="添加" closed="true" data-options="iconCls:'icon-save',autoOpen:false" style="width:40%;height:600px;padding:10px 50px">
  <form id="save_menu" method="post" name="menu">
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="name" style="width:50%" data-options="label:'名称:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="url" style="width:50%" data-options="label:'地址:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="code" style="width:50%" data-options="label:'code:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="description" style="width:50%" data-options="label:'描述:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="is_disabled" style="width:50%" data-options="label:'是否禁用:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="is_state" style="width:50%;height:50px" data-options="label:'是否展开:'">
    </div>


    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="parent_id" style="width:50%" data-options="label:'父节点:'">
    </div>


  </form>




  <div style="text-align:center;padding:5px 0">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveMenu()" style="width:80px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="" style="width:80px">Clear</a>
  </div>
</div>