<div id="toolbar1">
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addMovieDetail(<%= @movie_id%>)">添加</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMovieDetail()">编辑</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyMovieDetail()">删除</a>
</div>
<table class="easyui-datagrid" id="movie-detail-list" rownumbers="true" pagination="true"
       data-options="url:'/admin_movie_details/list?movie_id=<%= @movie_id%>',method:'get',border:false,singleSelect:true,fitColumns:true">
  <thead>
  <tr>
    <th data-options="field:'name',align:'center'" width="100px">剧集名称</th>
    <th data-options="field:'url',align:'center'" width="100px">下载地址1</th>
    <th data-options="field:'url2',align:'center'" width="100px">下载地址2</th>
    <th data-options="field:'wangpan_url',align:'center'" width="100px">网盘地址</th>
    <th data-options="field:'wangpan_password',align:'center'" width="100px">网盘密码</th>
    <th data-options="field:'episode',align:'center'" width="100px">剧集数</th>
    <th data-options="field:'movie_id',align:'center'" width="100px">movie_id</th>
  </tr>
  </thead>
</table>




<!--添加剧集-->
<div id="add_movie_detail_dialog" class="easyui-dialog" title="添加" closed="true" data-options="iconCls:'icon-save',autoOpen:false" style="width:40%;height:600px;padding:10px 50px">
  <form id="save_movie_detail" method="post" name="menu">
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="name" style="width:50%" data-options="label:'名称:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="url" style="width:50%" data-options="label:'下载地址1:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="url2" style="width:50%" data-options="label:'下载地址2:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="wangpan_url" style="width:50%" data-options="label:'网盘地址:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="wangpan_password" style="width:50%" data-options="label:'网盘密码:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="episode" style="width:50%" data-options="label:'剧集数:'">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" readonly="true" name="movie_id" type="text" style="width:50%" id="movie_id_input" data-options="label:'movie_id:'">
    </div>


  </form>




  <div style="text-align:center;padding:5px 0">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveMovieDetail()" style="width:80px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="" style="width:80px">Clear</a>
  </div>
</div>