<!DOCTYPE html>
<html>
<head>
  <title>BALAWO 扒拉我</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="/">
        BALAWO.COM * 扒拉我

    </a>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active"><a class="nav-link" href="#">排行</a></li>
      <li class="nav-item"><a class="nav-link" href="#about">最新</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact">登陆/注册</a></li>
    </ul>


  </div><!-- /.container -->
</nav><!-- /.navbar -->

<%= render partial: 'shared/home_movie_tags'%>




</body>



</html>






